In [8]:
from splinter import Browser
browser = Browser('chrome')
from bs4 import BeautifulSoup
import pandas as pd
import time

In [4]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [84]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [85]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [86]:
news_t=soup.find('div',class_="content_title").text
print(news_t)

Mars InSight Lander to Push on Top of the 'Mole'

In [88]:
news_p=soup.find('div',class_="article_teaser_body").text
print(news_p)

Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.

## JPL Mars Space Images - Featured Image

In [13]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(10)

browser.click_link_by_partial_text('more info')

html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

feat_img_url = image_soup.find('figure', class_='lede').a['href']
featured_image_url = 'https://www.jpl.nasa.gov'+feat_img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17175_hires.jpg

## Mars Weather

In [94]:
twitter_url="https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

In [95]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [96]:
mars_weather_twitter=soup.find('div',class_="css-1dbjc4n r-1j3t67a").text
print(mars_weather_twitter)

Mars Weather@MarsWxReport·2hInSight sol 440 (2020-02-21) low -95.2ºC (-139.3ºF) high -13.0ºC (8.6ºF)
winds from the W at 6.0 m/s (13.4 mph) gusting to 23.7 m/s (52.9 mph)
pressure at 6.30 hPa26

## Mars Facts

In [97]:
table_url="https://space-facts.com/mars/"
browser.visit(table_url)

In [98]:
table=pd.read_html(table_url)
print(table)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [99]:
table_df=pd.DataFrame(table[1])
table_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [100]:
table_df.columns=["Comparison","Mars","Earth"]

In [101]:
table_df.drop("Earth",axis=1)

           Comparison             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [102]:
mars_facts=table_df.to_html()
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [103]:
mars_facts.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [104]:
hemisphere_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [105]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [106]:
hemisphere_images_urls = []

hemisphere_titles = soup.find_all('h3')

for i in range(len(hemisphere_titles)):
    hemisphere_title = hemisphere_titles[i].text
    print(hemisphere_title)
    
    hemisphere_images = browser.find_by_tag('h3')
    hemisphere_images[i].click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    image = soup.find('img', class_='wide-image')['src']
    image_url = "https://astrogeology.usgs.gov" + image
    print(image_url)
    
    hemisphere_dict = {"title": hemisphere_title, "imgage_url":image_url}
    hemisphere_images_urls.append(hemisphere_dict)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

In [28]:
browser.quit